* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Asap Condensed', sans-serif;
    list-style: none;
}

body {
    background: #7b808d;
    color:  #555555;
    font-size: 20px;
    line-height: 22px;
}

.bold{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}

.semi_bold{
    font-weight: 600;
    font-size: 16px;
    color: rgba(250, 255, 175, 0.91);
}

.resume{
    width: 800px;
    height: auto;
    display: flex;
    margin: 20px auto;
}



.changeVer{
    position: absolute;
    right: 370px;
    top: 30px;
}
.changeVer .change_text{
    font-size: 1rem;
    text-decoration: none;
}

/* ---- Left hand ---- */

.resume .detail_left{
    width: 280px;
    background: #4dccfa;
}


.resume .detail_left .resume_profile{
    width: 100%;
    height: 280px;
}

.resume .detail_left .resume_profile img{
    width: 61%;
    height: 96%;
    margin: 20px 60px;
    border: 5px solid #555555;
    border-radius: 8px;
}

.resume .detail_left .resume_content{
    padding: 5px 25px;
}

.resume .title{
    margin-bottom: 15px;
}

.resume .resume_item{
    padding: 25px 0;
    border-bottom : solid 2px rgb(232, 225, 225) ;
}

.resume .resume_item .mail{
    font-size: 15px;
}

.resume .detail_left .resume_item:last-child,
.resume .detail_right .resume_item:last-child{
    border-bottom: none;
}

.resume .detail_left ul li{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.resume .detail_left ul li:last-child{
    margin-bottom: 0;
}

.resume .detail_left ul li .icon{
    width: 25px;
    height: 25px;
    background: #fff;
    color: #0bb5f4;
    border-radius: 50%;
    position: relative;
    margin-right: 15px;
    font-size: 16px;
}

.resume .icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.resume .detail_left .skill ul li{
    justify-content: space-between;
}

.resume .detail_left .skill ul li .language_name{
    width: 35%;
    font-size: 16px;
}

.resume .detail_left .skill ul li .skill_progress{
    position: relative;
    width: 60%;
    margin: 0 5px;
    height: 5px;
    background: #027fad;
}

.resume .detail_left .skill ul li .skill_percent{
    font-size: 16px;
}

.resume .detail_left .skill ul li .skill_progress span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #fff;
}

/* ---- Right hand ---- */

.resume .detail_right{
    width: 520px;
    background: #fff;
    padding: 25px;
}

.resume .detail_right .bold{
    color: #0bb5f4;
}

.resume .detail_right .semi_bold{
    color: #0bb5f4;
}

.resume .detail_right .about_me{
    font-size: 11px;
    letter-spacing: 0.4px;
}

.resume .detail_right .workEx ul,
.resume .detail_right .education ul{
    padding-left: 30px;
    overflow: hidden;
}

.resume .detail_right ul li{
    position: relative;
    padding-left: 10px;
}

.resume .detail_right ul li .date{
    font-size: 14px;
    font-weight: 500;
    color: #027fad;
}

.resume .detail_right ul li .position{
    font-size: 16px;
    font-weight: bold;
}

.resume .detail_right ul li .product{
    font-size: 16px;
    margin-bottom: 15px;
}

.resume .detail_right .education .bold{
    margin-bottom: 20px;
}

.resume .detail_right ul li .college {
    margin-bottom: 15px;
}

.resume .detail_right ul li:last-child .product,
.resume .detail_right ul li:last-child .college{
    margin-bottom: 0;
}

.resume .detail_right .workEx ul li:before,
.resume .detail_right .education ul li:before{
    content: "";
    position: absolute;
    top: 5px;
    left: -25px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: 2px solid #0bb5f4;
}

.resume .detail_right .portfolio .bold{
    margin-bottom: 20px;
}

.resume .detail_right .portfolio .port_pic{
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 100px;
    left: 40px;
    cursor: pointer;

}




